<div class="container">
    <div class="wrapper">
        <div class="nav">
            <a href="/help">
                <span class="nav-button" id="help-btn">HELP</span>
            </a>
            <a href="/login">
                <span class="nav-button" id="login-btn">LOG IN</span>
            </a> 
        </div>
        <div id="logo" class="shadow-box">
            <h1>FeastMind</h1>
        </div>
        <div class="nip-large"></div>
        <h2 id="headline">
            Read, manage and share<br/>
            all your papers <br/>anywhere, anytime
        </h2>
        
            <div id="signup" class="shadow-box">
			<span id="signup-button" ><a>Sign Up Free</a></span>
			
            
			<div id="signup-wrapper">
			<%= form_tag("/users", :method => "post") do %>

      <p>
      <span><%= text_field_tag "user[name]","Username"%></span>

      <span><%= text_field_tag "user[email]","Email"%></span>

      <span><%= password_field_tag "user[password]","password"%></span>
      
      <span><%= submit_tag "SIGN UP", class: "submitbutton btn btn-large btn-primary" %>
			</span>
			</p>
			<% end %>
			<!--<form action=" " method="post">
			<p><span><input id="user_name" name="user[name]" value="Username" type="text" /> </span>
			<span><input id="user_email" name="user[email]" value="password" type="password" /> </span><span><input id="user_password" name="user[password]" style=" width:120px; " value="Email" type="text" /></span><span  ><input name="commit" class="submitbutton"  value="SIGN UP" type="submit" /></span></p>
			</form>-->
			</div>
			</div>
                
        
        <div class="nip-large"></div>
    </div>
</div>
